[submodule "Alternate/vendor/spdlog"]
	path = Alternate/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Alternate/vendor/SDL2"]
	path = Alternate/vendor/SDL2
	url = https://github.com/AkliDev/SDL2-Development-Libraries
[submodule "Alternate/vendor/imgui"]
	path = Alternate/vendor/imgui
	url = https://github.com/AkliDev/imgui.git
[submodule "Alternate/vendor/glm"]
	path = Alternate/vendor/glm
	url = https://github.com/g-truc/glm.git
